*
body{
  background-color: #cbf3f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
}

h1{
  text-align: center;
}

h4{
  color: #EB5E28;
}

a {
  text-decoration: none;
  color: #252422;
}

.aboutme{
  border-radius: 5px;
  padding: 20px;
  border: 2px #2ec4b6 solid;
}

.skill{
  border-radius: 5px;
  padding: 20px;
  border: 2px #2ec4b6 solid;
}

.project{
  border-radius: 5px;
  padding: 20px;
  border: 2px #2ec4b6 solid;
}

.container{
  border-radius: 5px;
  padding: 20px;
  border: #2ec4b6 solid;
}



/*HEADER*/
.radio-inputs {
    position: relative;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color:#2ec4b6;
    opacity: 1;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: #252422;
    transition: all .15s ease-in-out;
  }
  .radio{
    border-radius: 5px;
  }

  .radio:hover{
    background: #cbf3f0;
  }
  
  
/*CONTACT FORM*/
.singup {
    color: #252422;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.5em;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: transparent;
    border-radius: 5px;
    border:2px #2ec4b6 solid;

  }
  
  .inputBox,
  .inputBox1 {
    position: relative;
    width: 250px;
  }
  
  .inputBox input,
  .inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #252422;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #252422;
    border-bottom: 2px solid #252422;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span,
  .inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #252422;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #252422;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox1 input:valid~span,
  .inputBox1 input:focus~span {
    transform: translateX(156px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #252422;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus,
  .inputBox1 input:valid,
  .inputBox1 input:focus {
    border: 2px solid #252422;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #252422;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 3em;
  }
  
  .enter:hover {
    background-color: #EB5E28;
    color: #252422;
    border: #EB5E28;
  }
 
  
